/**
*   @description
*   component.css 는 폴더 'Components' 하위의 컴포넌트에 사용될 컴포넌트 css입니다.
*/

/*---break---

*/
@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*---break---

*/
:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --input-padding: 20px;
}

/*---break---

*/
.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

/*---break---

*/
@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/*---component

*/

/** Popup */
.popupOuter {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: +1000;

    opacity: 0;
    background-color: transparent;
    pointer-events: none;
    transition: 0.2s;
}

.popupOuter.true {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    backdrop-filter: blur(2px);
}

.progressInner,
.popupInner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    background-color: transparent;
    pointer-events: none;
}

.progressInner.true,
.popupInner.true {
    opacity: 1;
    transition: 0.2s;
}

.popupInner {
    z-index: +1;

    max-width: 95%;
    max-height: 95%;

    overflow: auto;
    background-color: white;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 0.5rem;
}

.popupInner.true {
    min-width: 100px;

    min-height: 100px;
    pointer-events: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.popupTitle {
    padding: 0px 2rem;
    font-weight: 600;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 1rem;
}

.popupBody {
    width: 100%;
    max-width: 100%;
    text-wrap: wrap;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.popupButtonWrap {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.progressInner {
    pointer-events: none;
    cursor: inherit;
    z-index: +10;
    opacity: 0;
    transition: 0.2s;
}

.progressInner.true {
    opacity: 1;
    cursor: wait;
}

.progressInner .progress {
    animation: progressRoll;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: infinite;
}

@keyframes progressRoll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

input {
    padding-left: var(--input-padding);
    padding-right: var(--input-padding);
}
/* input 컴포넌트 help-text */
.helpText {
    height: fit-content;
    min-height: fit-content;
    line-height: normal;
    color: var(--text-sub2-color);
    font-size: var(--label-size);
}

/* Table */
table {
    border-collapse: collapse;
}
.dataTable span {
    border-radius: 0px;
}

.dataTable td,
.dataTable th {
    height: auto;
    padding: 5px;
    border: 1px solid var(--border-sub-color);
}
.dataTable thead tr {
}
.dataTable thead th {
    font-size: var(--span-size);
    font-weight: 700;
}

/* Button */
.buttonComponent {
    background-color: var(--button-primary-color);
    color: white;
    padding: 10px;
    transition: 0.2s;
}
.buttonComponent:active {
    background-color: var(--button-primary-hover-color);
}
.buttonComponent.red {
    background-color: var(--button-red-color);
}
.buttonComponent.red:active {
    background-color: var(--button-red-hover-color);
}
.buttonComponent.outline.secondary {
    background-color: var(--background-white-color);
    color: var(--text-basic-color);
    border: 1px solid var(--button-secondary-outline-color);
}
.buttonComponent.outline.secondary:active {
    background-color: var(--button-secondary-outline-hover-color);
}
