@import 'tailwindcss';
@import 'tw-animate-css';
/*---break---

*/
@custom-variant dark (&:is(.dark *));

/**
*   @description
*   index.css 는 .inner 와 같이 공통적으로 사용될 수 있는 스타일을 담당합니다.

    @note

    1. Header, Footer 와 같은 Layout Component의 z-index는 100번대 입니다.
    2. popup의 z-index는 1000번대 입니다.

*/

.inner {
    width: 100%;
    min-width: var(--inner-min-width);
}
.relativeInner {
    width: 100%;
    height: 100%;
    position: relative;
}

/** Popup */
.popupOuter {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: +1000;

    opacity: 0;
    background-color: transparent;
    pointer-events: none;
    transition: 0.2s;
}
.popupOuter.true {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    backdrop-filter: blur(2px);
}
.progressInner,
.popupInner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    background-color: transparent;
    pointer-events: none;
    transition: 0.2s;
}
.progressInner.true,
.popupInner.true {
    opacity: 1;
}
.popupInner {
    z-index: +1;

    max-width: 95%;
    min-width: 100px;
    max-height: 95%;
    min-height: 100px;

    overflow: auto;
    background-color: white;
    border-radius: 1.5rem;
}
.progressInner {
    z-index: +10;
}
.progressInner .progress {
    animation: progressRoll;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: infinite;
}
@keyframes progressRoll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loginCard {
    padding: 20px;
}
